.itemList_container  {
  position: absolute;
  left: 52%;
  top: 95%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 800px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.itemList_content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: 'Merriweather', serif;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: 300;
}

@media screen and (max-width: 820px) {
  .itemList_container  {
    width: 730px;
  }
}

@media screen and (max-width: 726px) {
  .itemList_container  {
    width: 350px;
  }
}

@media screen and (max-height: 1368px) {
  .itemList_container  {
    top: 45%;
  }
}

@media screen and (max-height: 1181px) {
  .itemList_container  {
    top: 53%;
  }
}

@media screen and (max-height: 1081px) {
  .itemList_container  {
    top: 60%;
  }
}

@media screen and (max-height: 851px) {
  .itemList_container  {
    top: 70%;
  }
}

@media screen and (max-height: 801px) {
  .itemList_container  {
    top: 75%;
  }
}

@media screen and (max-height: 751px) {
  .itemList_container  {
    top: 85%;
  }
}

@media screen and (max-height: 601px) {
  .itemList_container  {
    top: 100%;
  }
}
