.header{
    height: 100px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer{
    display: flex;
    justify-content: space-around;
    margin: 0px 30px;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

h1{
    font-family: "Farsan", cursive;
    color: aliceblue;
    margin-left: 20px;
    font-size: 32px;
}

.headercart{
    background-color: rgba(69, 4, 4, 0.765);
    border: none;
    color:aliceblue;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    margin: 4px 30px;
    border-radius: 30px;
}

button{
    background: transparent;
    border: none;
    color: aliceblue;
}

.shopcart{
    font-size: 26px;
}

.cart_tag{
    margin: 10px;
    font-size: 20px;
    font-family: "Farsan", cursive;
}

.cart-item{
    background-color:brown;
    border: none;
    color: rgb(246, 243, 243);
    padding: 10px 10px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 16px;
    font-size: 16px;
}

@media screen and (max-width: 726px) {
    .logoContainer{
        margin: 0px 10px;
    }

    .logo{
        width: 50px;
        height: 60px;
    }

    h1 {
      font-size: 22px;
    }

    .headercart{
        padding: 8px 10px;
        margin: 4px 2px;
    }

    .cart-container{
        display: flex;
        align-items: center;
    }

    .shopcart{
        font-size: 18px;
    }
    
    .cart_tag{
        margin: 5px;
        font-size: 12px;
    }
    
    .cart-item{
        padding: 5px 7px;
        margin: 4px 2px;
        font-size: 12px;
    }  
}




.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }